# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/

# Kaggle API
kaggle.json

# Logs
*.log

# Distribution
dist/
build/
*.egg-info/
UNDERSTANDING.md